<div class='row'>
	<div class='btn btn-default' ng-click='showAddForm=!showAddForm'>
		<i class='fa fa-plus' ng-show='!showAddForm'></i> Add candidate
		<i class='fa fa-minus' ng-show='showAddForm'></i>
	</div>
</div>
<div class='row' ng-show='showAddForm'>
	<div class='col-sm-6'>
		<form name='addCandidateForm'>
			<div class="form-group">
				<label>Name</label>
				<input type='text' 
					class='form-control' 
					placeholder='Name (required)'
					ng-model='c.displayName'
					required>
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type='email' 
					class='form-control' 
					placeholder='Email (required)'
					ng-model='c.email'
					required>
			</div>

			<div class="form-group">
				<label>Phone</label>
				<input type='text' 
					class='form-control' 
					placeholder='Phone (Optional. At least 10 digits)'
					ng-model='c.phone'>
			</div>

			<div class="form-group">
			  <label>Status</label>
			  <select class="form-control" ng-model='c.status' required>
			    <option>Needs Approval</option>
			    <option>Needs Feedback</option>
			    <option>Needs Interview</option>
			    <option>Final Stages</option>
			  </select>
			</div>

			<div class='form-group'>
				<textarea class='form-control' ng-model='c.comments' placeholder='Comments (optional)'></textarea>
			</div>

			<div class='btn btn-primary btn-lg pull-right' ng-click='addCandidate(c)' ng-disabled="addCandidateForm.$invalid">
				Add
			</div>
		</form>
	</div>
</div>