
<br>
<br>
<div class='row text-center' ng-if="!isAuthenticated()">
	<h2>Log in to start tracking your candidates</h2>
</div>
<div class='container' ng-if="isAuthenticated()">
	<div ng-include='"templates/addCandidate.html"'></div>
	<div class='row'>
		<div class='btn btn-default' ng-click='refreshCandidates()'>
			<i class='fa fa-refresh'></i> Refresh board
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-3'>
			<h2>Needs Approval</h2>

			<div class='row' ng-repeat='c in needsApproval'>
				<candidate></candidate>
			</div>
		</div>
		<div class='col-sm-3'>
			<h2>Needs Feedback</h2>
			<div class='row' ng-repeat='c in needsFeedback'>
				<candidate></candidate>
			</div>
		</div>
		<div class='col-sm-3'>
			<h2>Needs Interview</h2>
			<div class='row' ng-repeat='c in needsInterview'>
				<candidate></candidate>
			</div>
		</div>
		<div class='col-sm-3'>
			<h2>Final Stages</h2>
			<div class='row' ng-repeat='c in finalStages'>
				<candidate></candidate>
			</div>
		</div>
	</div>
</div>